#clock {
    position: relative;
    margin: auto;
    height: 60vw;
    /*to make the height and width responsive*/
    width: 60vw;
    background: url(assignment.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hourhand,
#minutehand,
#secondhand {
    position: absolute;
    background: red;
    border-radius: 25px;
    transform-origin: bottom;
}
  
#hourhand {
    width: 2%;
    height: 20%;
    top: 25%;
    left: 48.7%;
    opacity: 1;
}
  
#minutehand {
    width: 1.6%;
    height: 25%;
    top: 21.5%;
    left: 47.5%;
    opacity: 1;
}
  
#secondhand {
    width: 1%;
    height: 30%;
    top: 15.5%;
    left: 48.5%;
    opacity: 1;
}